<div class="divPpl">
    <h2>Nuevo Servicio</h2>
    <form #servicioForm="ngForm" (ngSubmint)="guardar()">
        <div>
            <label>Cliente</label>
            <input type="text" [(ngModel)]="servicio.cliente" name="cliente">
        </div>
        <div>
            <label>Equipo</label>
            <input type="text"[(ngModel)]="servicio.refImpresora" name="refImpresora">
        </div>
        <div>
            <label>Descripcion Daño</label>
            <textarea type="textarea" [(ngModel)]="servicio.dano" name="dano" ></textarea>
        </div>
        <div>
            <label>Estado</label>
            <select name="estado" [(ngModel)]="servicio.estado" >
                <option value="Nuevo">Nuevo</option>
                <option value="En espera">En espera</option>
                <option value="Resuelto"> Resulto</option>
            </select>
        </div>
        <div>
            <label>Tecnico</label>
            <select name="tecnico" [(ngModel)]="servicio.tecnico">
                <option *ngFor="let tecnico of tecnicos" >{{tecnico.nombre}}</option>
            </select>
        </div>
        <div>
            <button (click)="guardar()"> Guardar</button>

        </div>

    </form>
</div>