<div>
    <h2>Nuevo Servicio</h2>
    <form action="">
        <div>
            <label>Cliente</label>
            <input type="text">
        </div>
        <div>
            <label>Equipo</label>
            <input type="text">
        </div>
        <div>
            <label>Descripcion Daño</label>
            <textarea></textarea>
        </div>
        <div>
            <label>Estado</label>
            <select name="" id="">
                <option value="">Nuevo</option>
                <option value="">En espera</option>
                <option> Resulto</option>
            </select>
        </div>
        <div>
            <label>Tecnico</label>
            <select name="" id="">
                <option value=""></option>
            </select>
        </div>
        <div>
            <button> Guardar</button>

        </div>

    </form>
</div>