.divPrincipal{
    display: flex;
    margin: 10px;
    border-bottom: 2px solid rgb(103, 96, 96);
}

.divOpciones{
    width: 20%;
    
}

span{
    font-weight: bold;
}

p{
    font-size: small;
    margin: 2px;
}