<div>
    <div class="divLoader" *ngIf="servicios.length<1">
        <p>Cargando Servicios...</p>
        <span class="loader"></span>
    </div>
    <div class="Servicios">
        <div class="divPrincipal" *ngFor="let servicio of servicios">

            <div class="divInformacion">
                <p> <span>Fecha de reporte: </span> {{servicio.data().fechaReporte.toDate()}} </p>
                <p> <span>Cliente: </span> {{servicio.data().cliente}} </p>
                <p> <span>Equipo: </span> {{servicio.data().refImpresora}}</p>
                <p> <span>Daño: </span> {{servicio.data().dano}}</p>
                <p> <span>Tecnico: </span> {{servicio.data().tecnico}}</p>
            </div>
            <div class="divOpciones">
                <i class="pi pi-trash"></i>
            </div>
        </div>
    </div>
    <div>
        <button routerLink="servicio" class="btnNuevo">+</button>
    </div>

</div>