.divPrincipal{
    display: flex;
    margin: 10px;
    border-bottom: 2px solid rgb(103, 96, 96);
}

.divOpciones{
    width: 20%;
    
}

span{
    font-weight: bold;
}

p{
    font-size: small;
    margin: 2px;
}

.btnNuevo {
    font-size:xx-large;
    font-weight: bold;
    background-color: #F9C846;
    border-radius: 50%;
    border: solid black 1px;
    margin: 10px;
    height: 60px;
    width: 60px;
}

h2 {
    margin: 0;
    margin-top: 15px;
    margin-left: 10px;
}