.divPrincipal{
    display: flex;
    margin: 10px;
    border-bottom: 2px solid rgb(103, 96, 96);
}

.divOpciones{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

span{
    font-weight: bold;
}

p{
    font-size: small;
    margin: 2px;
}

.btnNuevo {
    font-size:xx-large;
    font-weight: bold;
    background-color: #F9C846;
    border-radius: 50%;
    border: solid black 1px;
    margin: 10px;
    height: 60px;
    width: 60px;
 }

 
.Servicios{
    overflow-x: hidden;
    overflow-y: auto;
    height: 50vh;

}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #231916;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 