<div class="divPrincipal">
    <div class="divImagenes">
        <img class="img1" src="../../../assets/images/img_login1.png" />
        <img class="img2" src="../../../assets/images/img_login2.png" />
    </div>
    <div class="divDivisorio"></div>
    <div class="divFormulario">
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <label>Usuario</label>
            <input type="text" [(ngModel)]="usuario.usuario" name="usuario">
            <label>Contraseña</label>
            <input type="password" [(ngModel)]="usuario.clave" name="clave">
            <button type="submit" >Iniciar Sesion</button>
            <div class="loginGoogle"> <img src="../../../assets/images/logingoogle.jpg"> </div>
        </form>
    </div>
    <div class="divFooter">
        <p>Desarrollo Movil</p>
        <h5>Harrison Montoya Valencia</h5>
    </div>


</div>